{% extends 'base.html' %}



{% block title %} Students Management System {% endblock %}


{% block body %}
    <head>
        <style>
            div {
                background-color: orange;
            }


        </style>
    </head>
    <div class="jumbotron p-3">
        <div class="well text-center">
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Allerta+Stencil">
            <style>
                .w3-allerta {
                    font-family: "Allerta Stencil", Sans-serif;
                }
            </style>
            <body>

            <div class="w3-container w3-blue w3-center w3-allerta">

                <p class="w3-xxxlarge">Students Management System</p>
            </div>

            </body>

        </div>


    </div>

{% endblock %}